<div class="table">
    <div class="table-body">
        <div class="title">User</div>
        <div class="table-head">
            <div class="head">ID</div>
            <div class="head">USERNAME</div>
            <div class="head">BIRTHDATE</div>
            <div class="head">COUNTRY</div>
            <div class="head">PHONE NUMBER</div>
            <div class="head">GENDER</div>
        </div>
        <div class="table-content">
            <div class="content">user.id</div>
            <div class="content">user.username</div>
            <div class="content">user.birthdate</div>
            <div class="content">user.country</div>
            <div class="content">user.phoneNumber</div>
            <div class="content">user.gender</div>
        </div>
    </div>
</div>