td, th{
    border: 1px solid #999;
    padding: 0.5rem;
}

input {
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    background-image: url('../../../searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    text-align: center;

}

.btn-search {
    width: 15%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    
    margin: 5% 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-submit {
    width: 18%;
    background-color: #4c84af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1%;
}
.btn-submit:hover {
    background-color: #61b4e1;
}
.search {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    min-width: 200px;
}

@media screen and (max-width:600px) {
    input{
        display: block;
        width: 100%;
    }
    .btn-submit{
        width: 100%;
        margin-left: 0;
    }
}