h1{
    vertical-align: center;
    text-align: center;
}
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
/*
.navbar {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    background: #000000;
    width: 100%;
}
.navbar h1 {
    flex: 2 1 auto;
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 0 16px;
}
.tabs {
    flex: 1 1  auto;
}/**/
.tabs > input {
    display: none;
}
/*
label {
    position: relative;
    z-index: 1;
    padding: 20px;
    font-size: 15px;
    flex: 1 1 auto;
    min-width: 58px;
    opacity: 0.35;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}
label:hover {
    color: #f9f9f9;
    background-color: #2ebdff;
}
.buttons {
    position: relative;
    display: flex;
}
.material-symbols-outlined {
    color: #fff;
}
.underline {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -3px;
    width: 25%;
    display: grid;
    place-items: center;
    transition: 0.3s;
}/**/
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #0b0a0a;
    /*background-color: rgb(62, 0, 154);
    background:linear-gradient(to left, #00c3ff, #000b81);/**/
    color: #FFF;
    height: 75px;
    padding: 1em;
}
.topnav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.topnav > li {
    margin: 0 1rem;
    overflow: hidden;
}/**/
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);/* Transition animation */
  border-radius: 2px;
}
/* Top layer of burger */
.menu-button::before {
    content: '';
    margin-top: -8px;
  }
/* Bottom layer of burger */
.menu-button::after {
    content: '';
    margin-top: 8px;
}
/* animation of top layer of burger */
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);/* make middle layer of burger transparent */
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
/*
li {
    float: left;
    width: 24%;
}*/

li a {
    display: block;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    margin-top: 0;
    padding: 24px 16px 23px 16px;
    text-decoration: none;
}/**/
/*
li .log-in{
    background-color: #04AA6D;
}
li .log-out{
    background-color: #b50427;
    cursor: pointer;
}
*/

li a:hover{
    text-shadow: #000;
    text-decoration: underline;
    cursor: pointer;
}
li .log-in:hover{
    background-color: #FFF1;
}
li .log-out:hover{
    background-color: #ff0000a0;
}/**/

li:last-child{
    float: right;
}/**/



@media screen and (max-width: 850px) {  
    .menu-button-container{
        display: flex;
    }
    .topnav{
        position: absolute;
        top: 0;
        margin-top: 70px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }/**/
    #menu-toggle ~ .topnav li{
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .topnav li {
        border: 1px solid #333;
        height: 2.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    
    ul.topnav li:last-child,
    ul.topnav li{
        float:none;
    }
    ul.topnav li{
        width: 100%;
    }
    .topnav > li a {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.3em 0;
        width: 100%;
        color: white;
        background: #0b0a0a;
    }
    .topnav > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }/**/
    /*
    .tabs {
        scale: 0.8;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        height: fit-content;
        flex-wrap: nowrap;
    }
    .navbar h1 {
        display: block;
    }
    .buttons {
        flex-direction: column;
        align-items: stretch;
    }/**/
}