<section class="nav">
  <input id="menu-toggle" type="checkbox" (change)="menuChecked=!menuChecked"/>
  <label class='menu-button-container' for="menu-toggle">
  <div class='menu-button'></div></label>
  <h1>Create or Retriever User</h1>
  <ul class="topnav">
    <li><a routerLink="/users">Create User</a></li>
    <li><a class="active" routerLink="/fetch-user">Retrieve User</a></li>
    <!--<li><a class="active" routerLink="/employees">Employees</a></li>-->
    <li>
      <a *ngIf="!(loggedIn |async)" class="log-in" routerLink="/login">Log in</a>
      <a *ngIf="(loggedIn |async)" class="log-out" (click)="logout()">Log out</a>
    </li>
  </ul>
</section>
<!--<nav class="navbar">
  <input id="menu-toggle" type="checkbox" (change)="menuChecked=!menuChecked"/>
  <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
  <div class="title">Create or retrieve User</div>
  <div class="tabs">
      <input id="tab-1" type="radio" name="group"/>
      <input id="tab-2" type="radio" name="group"/>
      <input id="tab-3" type="radio" name="group"/>
      <input id="tab-4" type="radio" name="group"/>

      <div class="buttons">
          <label class="material-symbols-outlined" routerLink="/users" for="tab-1">Create User</label>
          <label class="material-symbols-outlined" for="tab-2">Retrieve User</label>
          <label *ngIf="!(loggedIn | async)" class="material-symbols-outlined" for="tab-3">Log in</label>
          <label *ngIf="(loggedIn | async)" material-symbols-outlined for="tab-4">Log out</label>
          <div class="underline"></div>
      </div>
  </div>
</nav>-->
<div class="content" role="main">
  <div class="body">
    <div class="header">
    </div>
    <router-outlet ></router-outlet>
  </div>
</div>